<div class="row" id="divInventoryContainer">

  <div class="col-lg-12">
    <div class="panel panel-info" id="divCategories">
      <div class="panel-heading">
        <h3 class="panel-title">Inventory Manifest</h3>
      </div>

      <div class="panel-body list-group" id="divManifestContainer">
          
      </div>
    </div>

    
  </div>

</div>

<!-- stylesheets -->
<link href="InventoryManagement/css/default.css" rel="stylesheet" />
<link href="library/DataTable/css/DataTable.css" rel="stylesheet" />
<link href="library/jqueryui/css/redmond/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />

<!-- Javascript -->
<script src="library/jqueryui/development-bundle/ui/jquery-ui.custom.js"></script>
<script src="library/jqueryui/development-bundle/ui/jquery.ui.core.js"></script>
<script src="library/jqueryui/development-bundle/ui/jquery.ui.widget.js"></script>
<script src="library/jqueryui/development-bundle/ui/jquery.ui.menu.js"></script>
<script src="library/jqueryui/development-bundle/ui/jquery.ui.autocomplete.js"></script>
<script src="POS/js/shelf.js"></script>
<script src="POS/js/inventoryItem.js"></script>
<script src="POS/js/cart.js"></script>
<script src="POS/js/transaction.js"></script>
<script src="library/DataTable/DataTable.js"></script>
<script src="InventoryManagement/js/manifest.js"></script>

<script>
  var mani = new manifest();
  mani.assignUI($("#divManifestContainer"));
</script>