<div class="modal fade">
  	<div class="modal-dialog">
    	<div class="modal-content">
			<div class="modal-header">
			  	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

			  	<h4 class="modal-title text-primary" id="myModalLabel">Upload Product Image</h4>
			</div>

			<div class="modal-body">
			  	<form name="formImageUpload" class="formUpload">
			      	<input type="file" class="form-control btn btn-info" name="ProductImage" />
			      	<div id="upload"></div>
			  	</form>
			</div>

			<div class="modal-footer">
			  	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			  	<button id="Upload" type="button" class="btn btn-primary">Upload</button>
			</div>
		</div><!-- /.modal-content -->
  	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="library/js/FileUpload.js"></script>
<script>
	$("#Upload").on("click", function(e) {
		e.preventDefault();

		fileUpload(document.formImageUpload,'InventoryManagement/php/imageUpload.php','upload');
	});

	$("#Upload").closest(".modal").on('hide.bs.modal', function() {
		if ($(this).find('.label-success').length > 0) {
			$(".btnUploadItemImg.active").siblings('[name="itemImage"]').val($("#uploadedImageFile").val());
		}
	});

	$('.modal').modal();
</script>