<div class="divCartItem cartItemContainer" cartIndex="-1">

	<input type="checkbox" name="cartItem" class="cartItem" value="0" checked />
	<div class="CartItemImage">
		<img src="" alt="Product" title="" />
	</div>
	<label class="lblCartItem"></label>
	<span class="spanQty">
		<input type="text" class="cartItemQty" name="0" value="0" maxlength="3" />
	</span>
		
</div>