<div>
	<div class="tablesContainer">

		<div class="divTableHeadContainer">
			<div class="ajaxResult"></div>
			
			<table id="tblHead" class="DataTable">
				<thead>

				</thead>

				<tbody>

				</tbody>
			</table>
		</div>

		<div class="divTableBodyContainer">
			<table id="tblBody" class="DataTable">

				<tbody>

				</tbody>

			</table>
		</div>
	</div>

	<div class="divTableFootContainer">
		<div class="divInputMirror">
			<input type="text" class="inputMirror" value="" />
		</div>
	</div>
</div>