h1
{
	color: #36C;
}

.mouseover-outset
{
	border-style: outset !important;
}

.mouseover-bgRed
{
	background-color: #900000 !important;
	color: #FFF !important;
}

#statusDisplay
{
	position: absolute;
	text-align: center;
}

.imgLoading
{
	margin: 0 auto;
}
