#POS-Shelf
{
	/*background-color: #F5F5F5;*/
	padding: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;

}

.divInventoryItem, .divCartItem
{
	display: inline-block;
	background-color: #FFF;
	z-index: 2;
	padding: 0;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	cursor: pointer;
	position: relative;
}

.divInventoryItem
{
	width: 220px;
	border: 2px groove #F3F3ED;
	margin: 10px 10px;
}

.divCartItem
{
	position: relative;
	width: 80px;
	border: 1px groove #F3F3ED;
	margin: 3px;
}

.CartItemImage
{
	text-align: center;
	width: 75px;
	height: 75px;
	overflow: hidden;
	margin: 0 auto;
	padding: 2px;
}

.CartItemImage img
{
	width: 70px;
	margin: 0 auto;
}

.cartItem
{
	position: absolute;
	top: 5px;
	left: 5px;
}

.lblCartItem
{
	display: block;
	width: 99%;
	height: 22px;
	float: left;
	font: bold 10px Arial;
	text-align: center;
}

.spanQty
{
	position: absolute;
	top: 5px;
	right: 5px;
}

.spanQty input[type="text"]
{
	width: 20px !important;
	height: 20px !important;
	font: normal 11px Arial;
}

#POS-Checkout
{
	margin-top: 10px;
}

.numInCart
{
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: orange;
	border: 1px solid #ccc;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	width: 40px;
	height: 40px;
	padding: 7px;
	color: #FFF;
	text-align: center;
	font: bold 20px arial;
	visibility: hidden;
}

.btnRemoveFromCart
{
	background-color: #FF0000;
}

.itemImage
{
	text-align: center;
	width: 200px;
	height: 150px;
	overflow: hidden;
	margin: 0 auto;
	padding: 5px;
}

.itemImage img 
{
	width: 150px;
	margin: 0 auto;
}

.itemLabel 
{
	overflow: auto;
	padding: 5px;
}

.itemLabel .itemName
{
	display: inline-block;
	width: 180px;
	min-height: 50px;
	color: #369;
	text-align: left;
	font: normal 20px Arial;
}

.itemLabel .itemPrice
{
	display: inline-block;
	width: 180px;
	padding: 5px 0;
	background-color: #333;
	color: #fff;
	text-align: center;
	font: bold 24px Arial;
}

/** Cart css **/
.cartItemContainer input[type="text"]
{
	height: 20px;
	width: 40px;
	border: 1px solid #CCC;
	padding: 2px 3px;
	text-align: right;
}

#divShelfContainer
{
	margin-left: 260px;
	margin-right: 50px;
	margin-top: 50px;
}

#divCategoriesContainer
{
	padding: 5px;
	font: normal 12px Arial;
}

/* POS Toolbar */
#POS-Toolbar {
	padding: 10px 50px;
}

.btnCheckout
{
	height: 100px;
	width: 100px;
	background-color: #cc3300;
	border: #ccc;
	font: bold 18px arial;
}
