#divInventoryContainer .panel
{
	background: none;
}

#divManifestContainer
{
	
}

#divManifestContainer table
{
	background-color: #FFF;
}

th.itemPrice input[type="text"], td.itemPrice input[type="text"], th.itemPrice label
{
	width: 50px !important;
}

th.itemImage input[type="text"], td.itemImage input[type="text"], th.itemImage label
{
	width: 100px !important;
}

.btnUploadItemImg
{	
	padding: 0 5px;
	margin-left: 3px;
}

input[type="text"] {
	color: #333;
}



