
<div class="POSWrapper">
	<div id="POS-Toolbar">
		<ul class="list-inline text-right">
			<li>
				<button class="btnCheckout img-circle">Checkout</button>
			</li>
		</ul>
	</div>

	<div id="POS-Shelf">

	</div>
</div>

<script type="text/template" id="InventoryItemTemplate">
<div class="divInventoryItem" id="InventoryItem--">
	<!-- Hidden Inputs -->
	<input type="hidden" class="itemID" name="itemID" value="" />
	<input type="hidden" class="itemType" name="itemType" value="" />
	<input type="hidden" class="cartQty" name="cartItem" value="0" />
	
	<div class="numInCart">0</div>

	<div class="itemLabel">
		<span class="itemName"></span>
	</div>
	
	<div class="itemImage">
		<img src="" alt="Product" title="" />
	</div>

	<div class="itemLabel">
		<span class="itemPrice"></span>
	</div>

</div>
</script>

<!-- stylesheets -->
<link href="POS/css/pos.css" rel="stylesheet">

<script src="POS/js/shelf.js"></script>
<script src="POS/js/inventoryItem.js"></script>
<script src="POS/js/transaction.js"></script>

<script>
	
	var POSShelf = new shelf($("#POS-Shelf"));
</script>