<div class="divInventoryItem" id="InventoryItem--">
	<!-- Hidden Inputs -->
	<input type="hidden" class="itemID" name="itemID" value="" />
	<input type="hidden" class="itemType" name="itemType" value="" />
	
	<div class="numInCart">0</div>

	<div class="itemLabel">
		<span class="itemName"></span>
	</div>
	
	<div class="itemImage">
		<img src="" alt="Product" title="" />
	</div>

	<div class="itemLabel">
		<span class="itemPrice"></span>
	</div>

</div>