<form id="transaction">
	<div class="row">
		<div class="divCheckoutButtons col col-md-12 col-sm-12 text-right">
			<button type="button" class="checkout btn btn-success">Check Out</button>
			
			<button type="button" class="reset btn btn-warning">Reset</button>
		</div>
	</div>

	<div class="row divTransactionInput">
		<div class="col col-md-12  col-sm-12 form-group">
			<label class="text-left">Total: </label>
			<span>$ <input type="text" maxlength="7" name="total" value="0.00" /></span>
		</div>

		<div class="col col-md-12 col-sm-12 form-group">
			<label class="text-left">Paid: </label>
			<span>$ <input type="text" maxlength="7" name="paid" value="0.00" /></span>
		</div>
		
		<div class="col col-md-12 col-sm-12 form-group">
			<label class="text-left">Due:</label>
			<span>$ <input type="text" maxlength="7" name="due" value="0.00" /></span>
		</div>

		<div class="col col-md-12 col-sm-12 form-group">
			<label class="text-left">SJSU ID:</label>
			<span><input type="text" maxlength="9" name="SJSUID" value="" placeholder="#########"></span>
		</div>

		<div class="col col-md-12 col-sm-12 divLastTransaction form-group">
			<label>Last Sale:</label> <br />
			<span class="lastTransaction label label-info"></span>
		</div>
	</div>
</form>